<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTG Cars</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
    <!-- make buttons send continuously -->
    
  </head>
  <body>

    <div class="game">


      <!-- =================== left side =================== -->
      <div class="left">
        <!-- PID Constant Values -->
        <div class="box2">
          <div class="speeds">
            <p>p: <span id="pValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="pRange">
          </div>
          <div class="speeds">
            <p>i: <span id="iValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="iRange">
          </div>
          <div class="speeds">
            <p>d: <span id="dValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="dRange">
          </div>

          <script>
            var p = document.getElementById("pRange");
            var outputP = document.getElementById("pValToPrint");
            var i = document.getElementById("iRange");
            var outputI = document.getElementById("iValToPrint");
            var d = document.getElementById("dRange");
            var outputD = document.getElementById("dValToPrint");
            outputP.innerHTML = p.value;
            outputI.innerHTML = i.value;
            outputD.innerHTML = d.value;

            p.onchange = function() {
              sendData("p " + this.value.toString());
            }
            i.onchange = function() {
              sendData("i " + this.value.toString());
            }
            d.onchange = function() {
              sendData("d " + this.value.toString());
            }
            
            p.oninput = function() {
              outputP.innerHTML = this.value; 
            }
            i.oninput = function() {
              outputI.innerHTML = this.value;
            }
            d.oninput = function() {
              outputD.innerHTML = this.value;
            }

          </script>
        </div>

        <!-- Speed -->
        <div class="box1">
          <h2>Current Speed</h2>
          <div class="speeds">
            <p>Max Speed: <span id="maxSpeedPrint"></span></p>
            <input type="range" min="1" max="100" value="50" class="sliderp" id="maxSpeed">
          </div>

          <div class="speeds">
            <p>Min Speed: <span id="minSpeedPrint"></span></p>
            <input type="range" min="1" max="100" value="50" class="sliderp" id="minSpeed">
          </div>

          <script>
            var sliderMS = document.getElementById("maxSpeed");
            var outputMS = document.getElementById("maxSpeedPrint");
            var sliderMiS = document.getElementById("minSpeed");
            var outputMiS = document.getElementById("minSpeedPrint");
            outputMS.innerHTML = sliderMS.value;
            outputMiS.innerHTML = sliderMiS.value;

            sliderMS.onchange = function() {
              sendData("5 " + this.value.toString());
            }
            sliderMiS.onchange = function() {
              sendData("6 " + this.value.toString());
            }
            sliderMS.oninput = function() {
                outputMS.innerHTML = this.value;
            }
            sliderMiS.oninput = function() {
                outputMiS.innerHTML = this.value;
            }
          </script>
        </div>

        <!-- IR Tracker Indicators -->
        <div class="box2">
          <h2>IR Tracker Indicators</h2>
          <div class="circVals">
            <p>LL</p>
            <p>LM</p>
            <p>MM</p>
            <p>RM</p>
            <p>RR</p>
          </div>
        </div>
        //192.168.1.33

        <!-- Current Lap Time -->
        <div class="box1">
          <h2>Current Lap Time</h2>
          <p>00:00:00</p>
        </div>

      </div>


      <!-- =================== center =================== -->
      <div class="center">
        <!-- Camera -->
        <div class="imageHolder" style="margin-top:50px;">
          <img src="/static/styles/img/imgPlace.png">
        </div>

        <!-- Movements -->
        <div class="movements">
          <div class="top">
            <form>
              <a href=# id=test><button style="width: 25%">FORWARD</button></a>
          </form>
            
          </div>
          <div class="mid">
            <button onclick="sendData('left')" style="width: 25%">LEFT</button>
            <button onclick="sendData('right')" style="width: 25%">RIGHT</button>
          </div>
          <div class="bot">
            <button onclick="sendData('backward')" style="width: 25%">BACKWARD</button>
            
          </div>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          <script type=text/javascript>
                  $(function() {
                    $('a#test').on('click', function(e) {
                      e.preventDefault()
                      $.getJSON('/forward',
                          function(data) {
                        //do nothing
                      });
                      return false;
                    });
                  });
          </script>
        </div>
      </div>
      

      <!-- =================== right side =================== -->
      <div class="right">
        <!-- Menu Buttons -->
        <div class="box1">
          <div class="speeds">
            <button>Menu</button>
            <button>Exit</button>
          </div>
          <div class="speeds">
            <button>Start Race</button>
            <button>Reset Interface</button>
          </div>
          
        </div>
        
        <!-- Line Type -->
        <div class="box2">
          <h2>Line Type</h2>
          <div class="speeds">
            <p>Line Color: <span id="blackVwhite"></span></p>
            <label class="switch">
              <input type="checkbox" oninput="changeLineType()" value="White" id="blackorwhite">
              <span class="slider"></span>
            </label>
          </div>
          
        </div>
        
        <!-- Controls Modes -->
        <div class="box1">
          <h2>Control Modes</h2>
          <div class="speeds">
            <p>W1 or 2 (switch)</p>
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          
        </div>

      </div>
    </div>

    <!-- HeRo Lab Logo -->
    <div class="bottom">
      <img src="/static/styles/imgherolab_newlogo_whitebg.png">
    </div>

  </body>
</html>

<script>
    var xhr = null;
    getXmlHttpRequestObject = function () {
        if (!xhr) {
            // Create a new XMLHttpRequest object 
            xhr = new XMLHttpRequest();
        }
        return xhr;
    };
    function dataCallback() {
        // Check response is ready or not
        if ((xhr.status == 200 || xhr.status == 201)) {
            console.log("User data received!");
        }
    }
    function getUsers() {
        xhr = getXmlHttpRequestObject();
        xhr.onreadystatechange = dataCallback;
        // asynchronous requests
        xhr.open("GET", "http://192.168.1.33:80/", true);
        // Send the request over the network
        xhr.send(null);
    }
    function sendDataCallback() {
        // Check response is ready or not
        if ((xhr.status == 201 || xhr.status == 200)) {
          console.log("Data creation response received!");
        }
    }
    function sendData(val) {
        if (!val) {
          console.log("Data is empty.");
          return;
        }
        let dataToSend = val.split(" ");
        console.log("Sending data: " + dataToSend);

        let url = "http://127.0.0.1:5000/" + dataToSend[0];    
        xhr = getXmlHttpRequestObject();
        xhr.onreadystatechange = sendDataCallback;
        // asynchronous requests
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "text/html;accept-charset=UTF-8");
        // Send the request over the network
        
        xhr.send();
    }
    
    function changeLineType() {

      let lineType = document.getElementById('blackorwhite');
      let linePost = document.getElementById('blackVwhite');
      linePost.innerHTML = lineType.value;

      if (lineType.value == "Black") {
        lineType.value = "White";
        linePost.innerHTML = lineType.value;
        sendData("0 x");
      } else if (lineType.value == "White") {
        lineType.value = "Black";
        linePost.innerHTML = lineType.value;
        sendData("1 x");
      }
    
    }
</script>
