<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTG Cars</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- make buttons send continuously -->
    <!-- //192.168.1.33 -->
    
  </head>
  <body>

    <div class="game">


      <!-- =================== left side =================== -->
      <div class="left">
        <!-- PID Constant Values -->
        <div class="box2">
          <div class="speeds">
            <p>p: <span id="pValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="pRange">
          </div>
          <div class="speeds">
            <p>i: <span id="iValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="iRange">
          </div>
          <div class="speeds">
            <p>d: <span id="dValToPrint"></span></p><input type="range" min="1" max="100" value="50" class="sliderp" id="dRange">
          </div>

          <script>
            var p = document.getElementById("pRange");
            var outputP = document.getElementById("pValToPrint");
            var i = document.getElementById("iRange");
            var outputI = document.getElementById("iValToPrint");
            var d = document.getElementById("dRange");
            var outputD = document.getElementById("dValToPrint");
            outputP.innerHTML = p.value;
            outputI.innerHTML = i.value;
            outputD.innerHTML = d.value;
            
            p.oninput = function() {
              outputP.innerHTML = this.value; 
            }
            i.oninput = function() {
              outputI.innerHTML = this.value;
            }
            d.oninput = function() {
              outputD.innerHTML = this.value;
            }

          </script>
        </div>

        <!-- Speed -->
        <div class="box1">
          <h2>Current Speed</h2>
          <div class="speeds">
            <p>Max Speed: <span id="maxSpeedPrint"></span></p>
            <input type="range" min="1" max="100" value="50" class="sliderp" id="maxSpeed">
          </div>

          <div class="speeds">
            <p>Min Speed: <span id="minSpeedPrint"></span></p>
            <input type="range" min="1" max="100" value="50" class="sliderp" id="minSpeed">
          </div>

          <script>
            var sliderMS = document.getElementById("maxSpeed");
            var outputMS = document.getElementById("maxSpeedPrint");
            var sliderMiS = document.getElementById("minSpeed");
            var outputMiS = document.getElementById("minSpeedPrint");
            outputMS.innerHTML = sliderMS.value;
            outputMiS.innerHTML = sliderMiS.value;
            
          </script>
        </div>

        <!-- IR Tracker Indicators -->
        <div class="box2">
          <h2>IR Tracker Indicators</h2>
          <div class="circVals">
            <p>LL</p>
            <p>LM</p>
            <p>MM</p>
            <p>RM</p>
            <p>RR</p>
          </div>
        </div>

        <!-- Current Lap Time don't need to send to Michael -->
        <div class="box1">
          <h2>Current Lap Time</h2>
          <p>00:00:00</p>
        </div>

      </div>


      <!-- =================== center =================== -->
      <div class="center">
        <!-- Camera -->
        <div class="imageHolder" style="margin-top:50px;">
          <img src="/static/styles/img/imgPlace.png">
        </div>

        <!-- Movements -->
        <div class="movements">
          <div class="top">
            <form>
              <a href=# id=testF style="width: 25%"><button>FORWARD</button></a>
            </form>
            
          </div>
          <div class="mid">
            <a href=# id=testL style="width: 25%"><button>LEFT</button></a>
            <a href=# id=testR style="width: 25%"><button>RIGHT</button></a>
          </div>
          <div class="bot">
            <a href=# id=testB style="width: 25%"><button>BACKWARD</button></a>
            
          </div>
          <script type=text/javascript>


                      $(function() {
                        $('a#testF').on('mousedown', function(e) {
                          e.preventDefault()
                          $.getJSON('/forward',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testF').on('mouseup', function(e) {
                          e.preventDefault()
                          $.getJSON('/stop',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });

                      $(function() {
                        $('a#testB').on('mousedown', function(e) {
                          e.preventDefault()
                          $.getJSON('/backward',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testB').on('mouseup', function(e) {
                          e.preventDefault()
                          $.getJSON('/stop',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testR').on('mousedown', function(e) {
                          e.preventDefault()
                          $.getJSON('/right',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testR').on('mouseup', function(e) {
                          e.preventDefault()
                          $.getJSON('/center_steering',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testL').on('mousedown', function(e) {
                          e.preventDefault()
                          $.getJSON('/left',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });
                      $(function() {
                        $('a#testL').on('mouseup', function(e) {
                          e.preventDefault()
                          $.getJSON('/center_steering',
                              function(data) {
                            //do nothing
                          });
                          return false;
                        });
                      });


                      // key presses

                      var log;

                      $(function() {
                      document.addEventListener('keydown', function(e) {

                        e.preventDefault()
                          $.getJSON('/forward',
                              function(data) {
                            //do nothing
                          });
                          return false;
                          
                      });
                    });
                      document.addEventListener('keyup', changeFalse);

                      function logKey(e) {
                        log = ` ${e.code}`;
                        console.log(log);

                        if (log == "ArrowUp") {
                          $(function() {
                            $.getJSON('/center_steering',
                              function(data) {
                            //do nothing
                            });
                            return false;
                          });
                        }
                      }

                      function changeFalse() {
                        // make val false
                      }

          </script>
        </div>
      </div>
      

      <!-- =================== right side =================== -->
      <div class="right">
        <!-- Menu Buttons -->
        <div class="box1">
          <div class="speeds">
            <button>Menu</button>
            <button>Exit</button>
          </div>
          <div class="speeds">
            <button>Start Race</button>
            <button>Reset Interface</button>
          </div>
          
        </div>
        
        <!-- Line Type -->
        <div class="box2">
          <h2>Line Type</h2>
          <div class="speeds">
            <p>Line Color: <span id="blackVwhite"></span></p>
            <label class="switch">
              <input type="checkbox" value="White" id="blackorwhite">
              <span class="slider"></span>
            </label>
            <script type=text/javascript>
              function changeLineType() {

                let lineType = document.getElementById('blackorwhite');
                let linePost = document.getElementById('blackVwhite');
                linePost.innerHTML = lineType.value;

                if (lineType.value == "Black") {
                  lineType.value = "White";
                  linePost.innerHTML = lineType.value;
                  return "/0";
                } else if (lineType.value == "White") {
                  lineType.value = "Black";
                  linePost.innerHTML = lineType.value;
                  return "/1";
                }

              }

              $(function() {
                $('input#blackorwhite').on('change', function(e) {
                  let d = changeLineType();
                  e.preventDefault()
                  $.getJSON(d,
                      function(data) {
                  });
                  return false;
                });
              });
            </script>
          </div>
          
        </div>
        
        <!-- Controls Modes -->
        <div class="box1">
          <h2>Control Modes</h2>
          <div class="speeds">
            <p>W1 or 2 (switch)</p>
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          
        </div>

      </div>
    </div>

    <!-- HeRo Lab Logo -->
    <div class="bottom">
      <img src="{{ url_for('static',filename='imgherolab_newlogo_whitebg.png') }}">
      
    </div>

  </body>
</html>